<?php
    $activeItem = BackendMenu::getActiveMainMenuItem();
    $mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
?>
<nav class="navbar control-toolbar" id="layout-mainmenu" role="navigation">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar">
            <a class="menu-toggle" href="javascript:;">
                <i class="icon-bars"></i>
                <?= $activeItem ? e(trans($activeItem->label)) : 'CMS' ?>
            </a>

            <ul class="nav">
                <?php foreach (BackendMenu::listMainMenuItems() as $item): ?>
                    <?php if ($item->icon == 'icon-cog'): ?>
                        <?php continue; ?>
                    <?php endif; ?>
                    <li class="<?= BackendMenu::isMainMenuItemActive($item) ? 'active' : null ?>">
                        <a href="<?= $item->url ?>">
                            <i class="<?= $item->icon ?>"></i><?= e(trans($item->label)) ?>
                        </a>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
    <div class="toolbar-item" data-calculate-width>
        <ul>
            <li class="icon preview with-tooltip">
                <a
                    href="<?= URL::to('backend/auth/signout') ?>">
                    <i class="icon-crosshairs">退出登录</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
